.container {
  display: flex;
  justify-content: center;
  align-items: start;
  /* height: 100vh; */
  font-family: "Courier New", monospace;
  color: var(--texts);
  margin: 0;
  padding: 20px; 
}

.terminal {
  border: 1px solid var(--titles);
  background-color: var(--backgrounds);
  border-radius: 8px;
  padding: 30px;
  width: 80%; 
  max-width: 1000px; 
  height: auto;
  box-shadow: var(--shadows);
  overflow-x: auto; 
}

.title {
  padding: 5px;
  color: var(--titles);
  font-size: 20px;
  text-align: center;
}

.content {
  padding: 10px;
  font-size: 18px;
  white-space: pre-line;
}

.typing {
  font-weight: bold;
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  width: 8px;
  height: 16px;
  background: var(--titles);
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


@media (max-width: 768px) {
  .terminal {
    width: 90%;
    padding: 20px;
  }

  .content {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .terminal {
    width: 100%;
    padding: 15px;
  }

  .content {
    font-size: 14px;
  }

  .cursor {
    width: 6px;
    height: 14px;
  }
}
