<section class="container">
    <article class="terminal">
        <h1 class="title" id="about-me">{{ title }}</h1>
        <div class="content">
            <pre aria-label="Simulación de terminal">
                <code>
$ echo '<span class="typing">{{ displayText }}</span>' 

→ Software Developer 
→ Mentor Web 
→ learner
                
$ ls -l habilidades
 -NodeJs        -MongoDb
 -JavaScript    -Bash
 -Angular       -Python
 -Typescript    -Express
 -MVC           -Astro

 $ ls -l Experience
 →Mentor web Full stack (MEAN)
 →Desarrollador web Educativo
 →Frontend Developer (foo talent)


                
$Programing...<span class="cursor"></span>
                </code>
            </pre>
        </div>
    </article>
</section>