<nav class="navbar dark-mode" role="navigation">
    <button class="burger">
        <span class="bar"></span>
    </button>
    <ul>
        <!-- <li><a routerLink="/home"><img class="logo"
                    src="https://i.pinimg.com/736x/f0/33/b1/f033b102363fa1782b8795d9f8821872.jpg" alt=""> </a></li> -->
        <li><a class="logo" routerLink="/tienda">{{title}}</a></li>

    </ul>

    <ul class="navbar__links">
        <li class="navbar__link first">
            <a class="links_menu" routerLink="/tienda">Projects</a>
        </li>
        <li class="navbar__link second">
            <a class="links_menu" routerLink="/talleres">About me</a>
        </li>
        <li class="navbar__link third">
            <a class="links_menu" routerLink="/servicios">Contact</a>
        </li>
    </ul>

    <ul class="redes">
        <!-- <a href="https://www.facebook.com/" class="redes_link"><img class="redes-img"
                src="https://i.pinimg.com/originals/34/43/30/34433032ec57ef0e5486af62588a5a70.png" alt=""></a>
        <a href="https://www.instagram.com/" class="redes_link"><img class="redes-img"
                src="https://i.pinimg.com/originals/fa/90/e1/fa90e1e7734e5bef1193daca074ad67c.png" alt=""></a>
        <a href="https://www.yfoutube.com/" class="redes_link"><img class="redes-img youtube"
                src="https://i.pinimg.com/originals/72/11/fb/7211fbb00bce8645fb9fbd825dcc502f.png" alt=""></a> -->
        <a href="" class="redes__link"><i class="redes__icons fa fa-brands fa-instagram"
                style="color: #ffffff;"></i></a>
        <a href="" class="redes__link"><i class="redes__icons fa fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
        <a href="" class="redes_link"><i class="redes__icons fa fa-brands fa-github" style="color: #ffffff;"></i></a>
    </ul>
</nav>