/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap'); */


.light-mode {
  --navbar-color: #222;
  --navbar-bg-color: #F0F0F0;
}
.dark-mode {
  --navbar-color: #ffffff;
  --navbar-bg-color: #010710;
}

ul {
  list-style:none;
  padding: 0;
}
.logo{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
    color: rgb(255, 255, 255);
}
a {
    cursor: pointer;
}
.navbar {
  height: 4rem;
  width: 100vw;
  position: sticky;
  /* position: fixed; */
  top: 0;
  z-index: 1000;
  display:flex;
  align-items:center;
  justify-content:space-around;
  padding:10px;
  font-size:1.1rem;
  font-family: 'Montserrat', sans-serif;
  background:var(--navbar-bg-color);
  color:var(--navbar-color);
  margin: 0;

}
.navbar__links {
  display:flex;
  gap:25px;

}

.links_menu{
  color:var(--navbar-color);
  text-decoration:none;
  font-weight: bold;
  font-size: 1rem;
}
.burger {
  display:none;
}
.redes {
  display: flex;
  align-items: center;
  gap: 0 .7em;
}
.redes__icons{
  font-size: 1.6rem;
}

/*  Small device */
@media screen and (max-width:767.98px) {
  .navbar__links {
    margin:  0;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);
    position:absolute;
    top:64px;
    right:0;
    background:var(--navbar-bg-color);
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }
  .logo{
    font-size: 1.2rem;
}
  .show-nav .navbar__links {

    width:100vw;
    transform: translateX(0);
  }
  .navbar__link {
    transform: translateX(101%);
    transition: all .5s ease-in-out;
  }

  .show-nav .navbar__link  {
    transform: translateX(0);
  }
  .navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.3rem;
    color:var(--navbar-color);
    transition: all .4s ease-in-out;
  }
  /* Toggle menu */
  .burger {
    display:block;
    position:relative;
    padding:0;
    width:40px;
    height:40px;
    border:none;
    background:transparent;
    cursor:pointer;
  }
  .bar {
    display:block;
    width:40px;
    height:2.9px;
    border-radius:3px;
    background:var(--navbar-color);
    transition: all .5s ease-in-out;
  }
  .bar::before, .bar::after {
    content:"";
    width:40px;
    height:2.9px;
    position:absolute;
    left:0;
    background:var(--navbar-color);
    border-radius:3px;
    transition: all .5s ease-in-out;
  }
  .bar::before {
    transform:translateY(-12px)
  }
  .bar::after {
    transform:translateY(12px)
  }
  .show-nav .bar {
    width:0;
    background:transparent;
  }
  .show-nav .bar::before {
    transform:rotate(45deg);
  }
  .show-nav .bar::after {
    transform:rotate(-45deg);
  }

}


@media screen and (min-width:768px) {
  .navbar__link > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:var(--navbar-color);
    transition:width .4s;
  }
  .navbar__link:hover > a::after {
    width:100%;
  }
}

.main-content, #section2 {
  height:100vh;
}