<nav class="navbar dark-mode" role="navigation">
    <button class="burger">
        <span class="bar"></span>
    </button>

    <ul>
        <li><a class="logo" (click)="scrollToSection('home')">{{title}}</a></li>
    </ul>

    <ul class="navbar__links">
        <li class="navbar__link second">
            <a class="links_menu" (click)="scrollToSection('about')">About me</a>
        </li>
        <li class="navbar__link first">
            <a class="links_menu" (click)="scrollToSection('projects')">Projects</a>
        </li>
        <li class="navbar__link third">
            <a class="links_menu" (click)="scrollToSection('contact')">Contact</a>
        </li>
    </ul>

    <ul class="redes">
        <li class="redes__item">
            <a href="#" class="redes__link">
                <i class="redes__icon fa-brands fa-instagram"></i>
            </a>
        </li>
        <li class="redes__item">
            <a href="#" class="redes__link">
                <i class="redes__icon fa-brands fa-linkedin"></i>
            </a>
        </li>
        <li class="redes__item">
            <a href="#" class="redes__link">
                <i class="redes__icon fa-brands fa-github"></i>
            </a>
        </li>
    </ul>

</nav>