<section class="home">
    <div class="container">
        <img src="https://imgs.search.brave.com/ds5ao0yXa5vyHr5WSUG5aivtyfk3PX6_uQ_MlLoxWCk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/YS50cmFuc2Zlcm1h/cmt0LnRlY2hub2xv/Z3kvcG9ydHJhaXQv/YmlnLzI4MDAzLTE3/MTAwODAzMzkuanBn/P2xtPTE"
            alt="Foto de Maicol">
        <div class="content">
            <h1>Hi, soy Maicol</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, error atque optio dolores enim facilis non
                officiis, qui mollitia, placeat architecto obcaecati ad pariatur! Quas doloremque fuga at est accusamus.
                <strong>JavaScript, Angular y Node.js</strong>.
            </p>
            <a href="#contacto">Contáctame</a>
        </div>
    </div>
</section>