.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  max-height: 850px;
  height: 800px;
  flex-wrap: wrap;
  /* margin-bottom: 3rem; */
}

.card__image {
  flex: 0 0 450px; 
  max-width: 450px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image .img {
  width: 100%;
  aspect-ratio: 1; 
  border-radius: 50%; 
  cursor: pointer;
  border: 4px solid var(--border);
  object-fit: cover;
  object-position: bottom;
  transition: .5s ease-in-out;
  box-shadow: var(--shadows);
  animation: movimientoPerpetuo 1.5s infinite ease-in-out;
}

.card__image .img:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
  transition: 0.4s ease;
}

.card__info {
  padding: 20px;
  border-radius: 20px 10px;
  width: 100%;
  border: 1px solid var(--titles);
  justify-content: center;
  max-width: 1000px;
  min-width: 300px;
  /* background-color: var(--backgrounds--cards);  */
  background-color: var(--backgrounds);
  color: #d4d4d4; 
  font-family: 'Courier New', Courier, monospace;
  box-shadow: var(--shadows);
  margin: 20px 0;
  /* z-index: 1; */
}

.card__info h1 {
  color: var(--titles); 
  font-size: 2rem;
  font-weight: bold;
}

pre {
  padding: 20px;
  /* background-color: var(--backgrounds); */
  color: var(--texts);
  font-weight: bold;
  border-radius: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
  text-align: start;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.btn {
  text-decoration: none;
  padding: 10px ;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
  background: var(--texts);
  color: var(--backgrounds--cards);
}

.card__title {
  gap: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.icon__linux {
  font-size: 1.7rem;
  color: var(--titles);
}

@media (max-width: 1300px) {
  .card__image {
    flex: 0 0 290px; 
    max-width: 290px;
  }
  .card__info {
    width: 650px;
  }
  pre {
    padding: 20px;
    font-size: 1.2rem;
  }

  .card__info h1, .icon__linux {
    font-size: 1rem;
  } 
}


@media (max-width: 768px) {
  .card {
    /* flex-direction: column; */
    padding: 2rem 0;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
  }

  .card__image {
    flex: 0 0 300px; 
    max-width: 300px;
  }

  .card__info {
    max-width: 500px;
    min-width: 400px;
  }

  pre {
    padding: 15px;
    font-size: 1.1rem;
    line-height: 1.5;
  }

}

@media (max-width: 600px) {
  .card__info {
    max-width: 350px;
    min-width: 200px;
  }

  pre, .card__info h1, .icon__linux {
    font-size: 1rem;
  }

  .btn {
    padding: 13px;
    font-size: 13px;
  }
}






/* ANIMACIONES  */
@keyframes movimientoPerpetuo {
  0% {
      transform: translateY(0); 
  }
  50% {
      transform: translateY(-10px); 
  }
  100% {
      transform: translateY(0); 
  }
}

.fade-in {
  opacity: 0; 
  transform: translateX(20px); 
  animation: fadeInAnimation 1.5s ease-out forwards; 
}


@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateX(40px); 
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.card_cv{
  display: flex;
  gap: 20px;
  align-content: center;
}
.theme-toggle {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  font-size: 1.6rem;
  color: var(--texts);
  transition: color 0.3s ease;
  cursor: pointer;
}

.theme-toggle:hover {
  color: var(--titles);
}

