<section class="home">
    <div class="card">
        <div class="card__item card__image ">
            <img (click)="toggleTheme()" src="https://files-portoflio.s3.us-east-1.amazonaws.com/img2.jpg" alt="foto-perfil" class="img"
                loading="lazy">
        </div>
        <div class="card__item card__info">

            <div class="card__title">
                <i class="icon__linux fa-brands fa-linux"></i>
                <h1>{{msg}}</h1>
            </div>


            <div class="json-container fade-in">
                <pre>{{ jsonObject | json }}</pre>
            </div>
            <div class="card_cv">
                <a href="https://files-portoflio.s3.us-east-1.amazonaws.com/CV-Maicol-Bautista.pdf" download
                    class="btn">DOWNLOAD CV</a>
                <button (click)="toggleTheme()" class="theme-toggle">
                    <i *ngIf="isLightTheme" class="fas fa-sun"></i>
                    <i *ngIf="!isLightTheme" class="fas fa-moon"></i>
                </button>
                    
            </div>

        </div>

    </div>
</section>