<section class="container">
    <div class="terminal">
        <!-- <h1 class="title">~$ ls -l proyectos</h1> -->
        <h1 class="title">
            <span aria-hidden="true">~$ ls -l proyectos</span>
            <span class="sr-only">Lista de proyectos</span>
        </h1>
        <div class="content">
            <div class="card" *ngFor="let project of projects">
                <img *ngIf="project.image" [src]="project.image" [alt]="project.title" class="project-image" />

                <div class="card-content">
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.description || 'No hay descripción disponible.' }}</p>

                    <p><strong>Stack:</strong> {{ project.tech.join(', ') }}</p>
                    <a [href]="project.link" target="_blank" rel="noopener noreferrer"
                        [attr.aria-label]="'Ver detalles del proyecto ' + project.title">🔗 Ver Proyecto</a>
                </div>
            </div>
        </div>
    </div>
</section>
