/* You can add global styles to this file, and also import other style files */
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

:root {
    --backgrounds: #010710;
    --backgrounds--cards: rgb(27, 27, 27);
    --backgrounds--btns: #008cff;
    --titles:  #47a8f8;
    --texts:  #ffffff;
    --shadows:  0px 0px 20px #ffffff47;
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

/* 
    colores-------
    backgrounds #010710
    titles      #569cd6
    texts       #ffffff
    shodows     0px 0px 50px #ffffff8b;

*/